<a href="https://colab.research.google.com/github/03dipak/EDA_Project/blob/master/ipl_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df_ipl = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/matches.csv",sep=",")
df_ipl.head(20)

    id  season       city  ...                umpire1        umpire2 umpire3
0    1    2017  Hyderabad  ...            AY Dandekar       NJ Llong     NaN
1    2    2017       Pune  ...         A Nand Kishore         S Ravi     NaN
2    3    2017     Rajkot  ...            Nitin Menon      CK Nandan     NaN
3    4    2017     Indore  ...           AK Chaudhary  C Shamshuddin     NaN
4    5    2017  Bangalore  ...                    NaN            NaN     NaN
5    6    2017  Hyderabad  ...             A Deshmukh       NJ Llong     NaN
6    7    2017     Mumbai  ...            Nitin Menon      CK Nandan     NaN
7    8    2017     Indore  ...           AK Chaudhary  C Shamshuddin     NaN
8    9    2017       Pune  ...            AY Dandekar         S Ravi     NaN
9   10    2017     Mumbai  ...            Nitin Menon      CK Nandan     NaN
10  11    2017    Kolkata  ...             A Deshmukh       NJ Llong     NaN
11  12    2017  Bangalore  ...  KN Ananthapadmanabhan   AK Chaudhary     NaN
12  13    2017     Rajkot  ...         A Nand Kishore         S Ravi     NaN
13  14    2017    Kolkata  ...            AY Dandekar       NJ Llong     NaN
14  15    2017      Delhi  ...               YC Barde    Nitin Menon     NaN
15  16    2017     Mumbai  ...         A Nand Kishore         S Ravi     NaN
16  17    2017  Bangalore  ...  KN Ananthapadmanabhan  C Shamshuddin     NaN
17  18    2017      Delhi  ...            Nitin Menon      CK Nandan     NaN
18  19    2017  Hyderabad  ...            AY Dandekar     A Deshmukh     NaN
19  20    2017     Rajkot  ...                 S Ravi      VK Sharma     NaN

[20 rows x 18 columns]

In [3]:
df_ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 18 columns):
id                 696 non-null int64
season             696 non-null int64
city               689 non-null object
date               696 non-null object
team1              696 non-null object
team2              696 non-null object
toss_winner        696 non-null object
toss_decision      696 non-null object
result             696 non-null object
dl_applied         696 non-null int64
winner             693 non-null object
win_by_runs        696 non-null int64
win_by_wickets     696 non-null int64
player_of_match    693 non-null object
venue              696 non-null object
umpire1            695 non-null object
umpire2            695 non-null object
umpire3            60 non-null object
dtypes: int64(5), object(13)
memory usage: 98.0+ KB

In [0]:
df_ipl.drop(columns=['umpire3'] ,inplace=True)

In [7]:
df_ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 17 columns):
id                 696 non-null int64
season             696 non-null int64
city               689 non-null object
date               696 non-null object
team1              696 non-null object
team2              696 non-null object
toss_winner        696 non-null object
toss_decision      696 non-null object
result             696 non-null object
dl_applied         696 non-null int64
winner             693 non-null object
win_by_runs        696 non-null int64
win_by_wickets     696 non-null int64
player_of_match    693 non-null object
venue              696 non-null object
umpire1            695 non-null object
umpire2            695 non-null object
dtypes: int64(5), object(12)
memory usage: 92.6+ KB

In [11]:
df_ipl[df_ipl['city'].isnull()]

      id  season  ...          umpire1         umpire2
461  462    2014  ...        Aleem Dar    AK Chaudhary
462  463    2014  ...        Aleem Dar     VA Kulkarni
466  467    2014  ...  HDPK Dharmasena  RK Illingworth
468  469    2014  ...        M Erasmus          S Ravi
469  470    2014  ...        BF Bowden       M Erasmus
474  475    2014  ...        BF Bowden          S Ravi
476  477    2014  ...  HDPK Dharmasena       M Erasmus

[7 rows x 17 columns]

In [12]:
df_ipl.city.fillna('Dubai',inplace=True)
df_ipl[df_ipl['city'].isnull()]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2]
Index: []

In [13]:
df_ipl[df_ipl['winner'].isnull()]

      id  season  ...          umpire1       umpire2
300  301    2011  ...        SS Hazare     RJ Tucker
545  546    2015  ...        JD Cloete     PG Pathak
570  571    2015  ...  HDPK Dharmasena  K Srinivasan

[3 rows x 17 columns]

In [14]:
df_ipl[df_ipl['umpire1'].isnull()]

   id  season       city  ...                  venue umpire1 umpire2
4   5    2017  Bangalore  ...  M Chinnaswamy Stadium     NaN     NaN

[1 rows x 17 columns]

In [26]:
df_ipl.season.value_counts()

2013    76
2012    74
2011    73
2018    60
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [0]:
df_ipl.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [0]:
df_ipl.player_of_match.value_counts()

CH Gayle          20
AB de Villiers    18
RG Sharma         16
YK Pathan         16
DA Warner         15
                  ..
SA Asnodkar        1
TA Boult           1
SA Yadav           1
RJ Harris          1
DJ Hooda           1
Name: player_of_match, Length: 214, dtype: int64

In [0]:
df_ipl[df_ipl.city.isnull()]

      id  season city  ...          umpire1         umpire2 umpire3
461  462    2014  NaN  ...        Aleem Dar    AK Chaudhary     NaN
462  463    2014  NaN  ...        Aleem Dar     VA Kulkarni     NaN
466  467    2014  NaN  ...  HDPK Dharmasena  RK Illingworth     NaN
468  469    2014  NaN  ...        M Erasmus          S Ravi     NaN
469  470    2014  NaN  ...        BF Bowden       M Erasmus     NaN
474  475    2014  NaN  ...        BF Bowden          S Ravi     NaN
476  477    2014  NaN  ...  HDPK Dharmasena       M Erasmus     NaN

[7 rows x 18 columns]